@model TextEditor.Models.Doc
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit document</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control" value="@userManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" value="@Model.Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-3">
                <textarea id="tiny" asp-for="Content" style="width: 60vw; height: 80vh"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-dark" />
                <a class="btn btn-secondary m-2" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="text-decoration: none;">
        <img src="~/images/go-back-arrow.png" alt="Go back arrow" width="14px" height="14px" />
        <span class="text-black">Back to List</span>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
