@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">TextEditor - Free Online Text Editor</h1>
    <br />
    <p>Edit your texts online for free, enhance them, and create new ones.</p>
    <br />
    <h2>Was TextEditor useful for you?</h2>
    <p>Hello! We’ve worked hard to create a user-friendly website that we personally enjoy using.<br /> 
        If you find TextEditor helpful, be sure to add them to your bookmarks.<br /> And don’t forget to share it on social media. 
        Together, we’ll keep improving for you!
    </p>
    <a class="btn btn-primary mt-5" asp-controller="Docs" asp-action="Index">Create document</a>
</div>
